@page "/logout"

<h3>Log ud</h3>

<p>Klik på knappen nedenfor for at logge ud.</p>

<form method="post" action="/web-auth/logout">
    <button class="btn btn-danger" type="submit">
        Log ud
    </button>
</form>